  
/* style to my character page  */


.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.character-name {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

.character-grid h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.filter-container input,
.filter-container select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .character-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .character-grid h2 {
    font-size: 1.5rem;
  }

  .filter-container input,
  .filter-container select {
    width: 100%;
  }
}




/* Navbar.css */

.navbar {
  background-color: #333;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ffd700; 
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    margin: 10px 0;
  }
}



/* style to my episode page */




.episode-grid {
  display: grid;
  gap: 20px;
}

.episode-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media screen and (max-width: 768px) {
  .episode-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px; 
  }
}


@media screen and (max-width: 480px) {
  .episode-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px; 
  }
}






/* 
style to my location page */



.location-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.location-page {
  text-align: center;
  padding: 20px;
}

.location-page h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}





/* LocationDetailPage.css */

.location-detail-page {
  text-align: center;
  padding: 20px;
}

.location-detail-page h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.loading-message {
  font-size: 1.2rem;
  color: #555;
}

@media screen and (max-width: 768px) {
  .location-detail-page {
    padding: 10px;
  }

  .location-detail-page h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
}












